---
layout: page
title: Posts
header: Posts By Category
group: navigation
---
{% include JB/setup %}


{% assign categories_list = site.categories %}


{% comment %}
 {% include JB/categories_list %}
{% endcomment %}  



<div class="hero-unit imgH4">
      </div>


 {% for post in site.posts %}
   <h4>{{ post.date | date_to_string }}:</h4> <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a>
   <p>&nbsp;</p>
   {{post.content}}
 {% endfor %}




{% comment %}

{% for category in site.categories %} 
  <h2 id="{{ category[0] }}-ref"> {{ category[0] | join: "/" }}</h2>
    {% assign pages_list = category[1] %}
   <ul class="unstyled">
   {% include JB/pages_list %}
   </ul>
{% endfor %}
<dt> </dt>

{% endcomment %} 