/*new stuff*/


* {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

body {
  margin: 0;
  
  font: 11px/16px Verdana,​Arial,​sans-serif;
  /*font: 13px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  /*font-family:  "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  /*font-size: 13;*/

  /*background-image: url('/images/galaxy.jpg');*/
  background-size: 1440px 800px;
  background-repeat:repeat;

  color: #1F0F0F;
  background-color: #f3edd2;
}

/*---------------------------*/

/*change link color, font ??*/

/*a {
  font-size: 10px;
  color: #000 !important;
}*/

/*.linkNew {
      font-size: 14px;
      color: azure !important;
  }

.linkNew:hover{
  color: blue !important;
}*/


/*---------------------------*/

/* Custom container */
.container-narrow {
  margin: 0 auto;
  background-color: #FFFFF9;
  /*background-color: azure;*/
  max-width: 700px; }

/*change spacing to hr*/
.container-narrow > hr {
  margin: 18px 0; }

.navbar .nav {
  float: right;
  margin-right: 0;
  /*background-color: azure;*/
}

/*---------------------------*/

.hero-unit {
  /*background-image:url('/images/galaxy.jpg');*/
  background-size:cover;
  height:38px;
  opacity: 1.0;
}

/*different images*/
.imgH1 {
  background-image:url('/images/galaxy.jpg');
}

.imgH2{
  background-image:url('/images/panda.jpg');
}

.imgH3{
  background-image:url('/images/train.jpg');
}

.imgH4{
  background-image:url('/images/cover.jpg');
}

.imgH5{
  background-image:url('/images/pachinko.jpg');
}

/*sidebar*/
.well{
  /*background-color: green;*/
  margin-top: -1px;}


/*.sidebar-nav-fixed {
    padding: 9px 0;
    position:fixed;
    left:20px;
    top:60px;
    width:250px;
}

.row-fluid > .span-fixed-sidebar {
    margin-left: 690px;
}*/

/*remove when display is too small??  !!!!!!!*/
.sidebar-nav-fixed {
     margin-left: 5px;
     position:fixed;
     width:8.5%;
 }

 /*@media (max-width: 767px) {*/
 @media (max-width: 973px) {
     .sidebar-nav-fixed {
      display: none;
     }
 }

@media (min-width: 768px) { 
  .sidebar-nav-fixed{
      position: auto;
  } 
}

/*scrollbar*/
html {
    overflow-y: scroll; 
}

/*---------------------------*/

/*page-header with h1 -change font-size or to h3?*/

/*h1{
  font-size: 30px;
}*/

.page-header h1 {
    font-size: 30px;
}

/*.page-header h4 small{display:block;line-height:10px;}*/


p {
   margin-top:5px;
   margin-bottom:5px
}

/*---------------------------*/

.pagination {
  background-color: green;
  line-height: 0px;
}

.pagination-large{
  background-color: blue;
}

.pagination ul {
  position: center;
}

/*---------------------------*/

.full-iframe {
width:100%;
border:none;
}

/*---------------------------*/

/* posts index */
.post > h3.title {
  position: relative;
  padding-top: 10px; }

.post > h3.title span.date {
  position: absolute;
  right: 0;
  font-size: 0.9em; }

.post > .more {
  margin: 10px 0;
  text-align: left; }

/* post-full*/
.post-full .date {
  margin-bottom: 20px;
  font-weight: bold; }

/* tag_box */
.tag_box {
  list-style: none;
  margin-top: 0px;
  /*margin: 0;*/
  overflow: hidden;
   }

.tag_box li {
  line-height: 28px; 
}

.tag_box li i {
  opacity: 0.9; }

.tag_box.inline li {
  float:left; 
  /*float: right;*/
}

.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  background: #eee;
  color: #555;
  border-radius: 3px;
  text-decoration: none;
  border: 1px dashed #cccccc; }

.tag_box a span {
  vertical-align: super;
  font-size: 0.8em; }

.tag_box a:hover {
  background-color: #e5e5e5; }

.tag_box a.active {
  background: #57A957;
  border: 1px solid #4c964d;
  color: #FFF; }